html {
    background: rgb(255, 0, 111);
    background: linear-gradient(50deg, rgb(255, 0, 111) 0%, rgba(201,179,0,1) 100%);
}

div#links > a.link {
    font-size: 49px;
    font-family: 'Comic Sans MS', sans-serif;
    cursor: pointer;
    transition: opacity 500ms ease;
    color:#EFFEFE;
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: fit-content;
}

div#links > a.link[data-focus="none"] {
    opacity: 0.67;
}

div#links > a.link[data-focus="yes"] {
    opacity: 1;
}

div#links > a.link[data-focus="no"] {
    opacity: 0.33;
}

div#links {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    transition: transform 500ms ease-in-out;
}

div#links[data-moveleft="yes"] {
    transform: translateX(-15vw);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1#mark {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    margin: 0px;
    top: 1vw;
    left: 1vw;
    font-size: 33px;
    color: #FEEFFF;
}

article {
    position: absolute;
    opacity: 0;
    font-family: 'Impact', sans-serif;
    color: #EEEFFF;
    transition: transform 500ms ease, opacity 1s ease;
    width: 70vw;
}

article[data-visible="no"] {
    top: 10vw;
    left: 10vw;
    transform: translateX(100%);
}

article[data-visible="yes"] {
    opacity: 1;
    top: 10vw;
    left: 10vw;
}

article > h1 {
    font-size: 49px;
}

article > P {
    font-size: 25px;
}

a {
    color: #EFEEEF;
}

span#back {
    position: absolute;
    top: 5vw;
    left: 10vw;
    color: #FEFEEE;
    font-size: 49px;
    font-family: 'Comic Sans MS', sans-serif;
    cursor: pointer;
    opacity: 0;
    transition: transform 512ms ease, opacity 1s ease;
    z-index: 10;
}

span#back[data-visible="no"] {
    transform: translateX(100%);
}

span#back[data-visible="yes"] {
    opacity: 1;
}

ul {
    font-size: 25px;
}