:root {
    --step-size: 3.5vmin;

    --link: black;
    --hover-link: blue;
    --active-link: orangered;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(-20deg, orange, yellow);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--step-size);
}

a:after {
    position: absolute;
    content: "";
    transform: scaleX(0);
    transform-origin: bottom right;

    border: 1px solid;
    border-radius: 2px;
    background-color: var(--link);

    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;

    transition: background-color 0.5s, transform 0.5s;
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: var(--hover-link);
    transition: 0s;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

    background-color: var(--hover-link);
    border: 1px solid var(--hover-link);
    transition: color 0s, transform 0.5s;
}

a:active {
    color: var(--active-link);
    transition: 0.15s;
}

a:active:after {
    background-color: var(--active-link);
    border: 1px solid var(--active-link);
    transition: 0.15s;
}

#header {
    display: flex;
    overflow: hidden;
    align-items: center;
    white-space: nowrap;
}

#header *::selection {
    background: none;
}

#header * {
    margin: 0;
}

#greeting {
    color: black;
    transition: 0.5s;
}

#header:hover #greeting {
    color: red;
    transition: 0.2s;
}

#click-hint {
    position: relative;
    top: 1vmin;
    left: 2vmin;
}

.fade-start {
    opacity: 0%;
    transition: 1s;
}

.fade-end {
    opacity: 50%;
    transition: 10s;
}

#links {
    margin-left: var(--step-size);
    overflow: hidden;
}

#links ul {
    margin: 0;
}

#links li {
    transition: 0.5s;
    width: fit-content;
}

#links li:hover {
    transform: translateX(var(--step-size));
    transition: 0.25s;
}

.hidden {

}

.visible {
    
}

#links img {
    opacity: 75%;
    pointer-events: none;
    position: absolute;
}
